<nav class="nav"  >
    <div class="log-div">
        <a href=""> <img class="log-inferior" src="" ></a>
    </div>
    <div class="buscador-div">
        <form action="" class="buscador-form">
            <input type="text" name="barra de pesquisa" class="buscador-input"
                placeholder=" O que vc esta procurando? ">
            <button type="submit" class="button">
                <span> <img class="lupa" src=""></span>
            </button>
        </form>
    </div>