<footer id="Rootbar">

    <ul class="Lista1">
        <li class="LI" >
            AJUDA
        </li>
        <li>
            <a href="" class="footer" >devoluçoes</a>
        </li>
        <li>
            <a href="" class="footer" >Entregas</a>
        </li>
        <li>
            <a href="" class="footer" >Minha conta</a>
        </li>
        <li>
            <a href="" class="footer" >Meus pedidos</a>
        </li>
        <li>
            <a href="" class="footer"  >pagamentos</a>
        </li>
        <li>
            <a href=""  class="footer" >Cancelamento</a>
        </li>
        <li>
            <a href="" class="footer" >Segurança e Privacidade</a>
        </li>
        <li>
            <a href="" class="footer" >Acessibilidade</a>
        </li>
    </ul>
    <ul class="Lista2">
        <li class="LI">
            ISTITUCIONAL
        </li>
        <li>
            <a href="" class="footer" >Sobre a Modamodesta</a>
        </li>
        <li>
            <a href="" class="footer" >Politicas e provacidade</a>
        </li>
        <li>
            <a href="" class="footer" >Soluçoes corporativas</a>
        </li>
        <li>
            <a href="" class="footer" >Reculamentos</a>
        </li>
        <li>
            <a href="" class="footer" >Programa de integridade</a>
        </li>
    </ul>
    <ul class="Lista3">
        <li class="LI" >
            ATENDIMENTO
        </li>
        <li>
            <a href="" class="footer" >Ajuda</a>
        </li>
        <li>
            <a href="" class="footer" >Fale conosco</a>
        </li>
        <li>
            <a href="" class="footer" >Nossas lojas</a>
        </li>
    </ul>

</footer>
<script src="./assets/js/bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
</body>
</html>