<!DOCTYPE html>
<html lang="en" id="html">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fsmodamodesta</title>
        <link rel="stylesheet" href="../css/man-css/man.css">
        <link rel="stylesheet" href="../css/Footer-css/footer.css">
        <link rel="stylesheet" href="../css/Header-css/heaher.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css.map">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
</head>
<body class="body" onscroll="fixed()">
    