<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script src="/src/modules/Banner.js" ></script>
<script src="/src/modules/barraDePesquisa.js"> </script>
<script src="/src/modules/carrossel.js"></script>
</body>
</html>