<%- include('includes/head'); -%>
<header>
    <div class="div-conteiner" name="">
        <aside class="aside">
        <div class="logo-div">
            <a href><img class="img-superior" id= "top-img"  alt="logo"></a>
        </div>

        <nav class="nav"  >
        <div class="log-div">
            <a href=""> <img class="log-inferior" id= "logo-img"  alt="logo"></a>
        </div>
        <div class="buscador-div">
            <form action="" class="buscador-form">
                <input type="text" name="barra de pesquisa" class="buscador-input"
                    placeholder=" O que vc esta procurando? ">
                <button type="submit" class="button">
                    <span> <img class="lupa"  id="lupa-img" alt="lupa"></span>
                </button>
            </form>
        </div>

        <div class="favorito-div">
            <a href="" class="style-nav" > <img class="style-img" id="coracao-img" alt="coracao" >FAVORITOS</a>
        </div>

        <div class="carrinho-div">
            <a href="" class="style-nav" ><img class="style-img" id="carrinho-img"  alt="carrinho">CARINHO</a>
        </div>

        <div class="entra-div">
            <a href="" class="style-nav"> <img class="style-img"  id="PERFIL" alt="PERFIL" >ENTRA</a>
        </div>
        </aside>

        <div id="rotbar">
            <div class="local-div">
                <a href="" class="local-a" > <img class="local-imagem" id="local-img" alt="local-img"  >informe seu cep </a>
            </div>
            <div class="infantil">
                <a href=""  class="style-rotbar" >infantil</a>
            </div>
            <div class="plussize">
                <a href=""  class="style-rotbar ">plus size</a>
            </div>
            <div class="dresses">
                <a href=""  class="style-rotbar ">vestidos</a>
            </div>
            <div class="Skirts">
                <a href=""  class="style-rotbar ">saias</a>
            </div>
            <div class="blouses">
                <a href=""  class="style-rotbar ">blusas</a>
            </div>
            <div class="new">
                <a href=""  class="style-rotbar ">Novidas</a>
            </div>
            <div class="accessory">
                <a href="" class="style-rotbar" >Acessorios</a>
            </div>
        </div>
        </nav>
    </div> 
</header>
<main >
    <div>
        
    </div >
     <div class="container-slider" >
         <div class="slider js-slider">
             <div class="product-container">
                <div class="container-heart"> 
                </div>
                <a href="" class="item" >
                    <img id="proto-redondo-img" alt="proto-redondo-img" class="product-image" >
                    <div class="description">
                        <h4>Vestido Jamille</h4>
                        <p>Tecido crepe foil, botões funcionais e cordão de ajuste de cintura</p>
                        <p class="discount">R$196,00 </p>
                        <p><strong>186,00</strong></p>
                        <p>ou 6x de R$ 31,0</p>
                        <div class="star">
                            <p>
                                4,5
                            </p>
                            <p>
                            &#9733
                            &#9733
                            &#9733
                            &#9733 
                            &#9734
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="product-container"  >
                <div class="container-heart">
                </div>
                <a href="" class="item">
                    <img id="proto-redondo-img" alt="proto-redondo-img" class="product-image" >
                    <div class="description">
                        <h4>Vestido Jamille</h4>
                        <p>Tecido crepe foil, botões funcionais e cordão de ajuste de cintura</p>
                        <p class="discount">R$196,00 </p>
                        <p><strong>186,00</strong></p>
                        <p>ou 6x de R$ 31,0</p>
                        <div class="star">
                            <p>
                                4,5
                            </p>
                            <p>
                            &#9733
                            &#9733
                            &#9733
                            &#9733 
                            &#9734
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="product-container" >
                <div class="container-heart">   
                </div>
                <a href="" class="item">
                    <img id="proto-redondo-img" alt="proto-redondo-img" class="product-image" >
                    <div class="description">
                        <h4>Vestido Jamille</h4>
                        <p>Tecido crepe foil, botões funcionais e cordão de ajuste de cintura</p>
                        <p class="discount" >R$196,00 </p>
                        <p><strong>186,00</strong></p>
                        <p>ou 6x de R$ 31,0</p>
                        <div class="star">
                            <p>
                                4,5
                            </p>
                            <p>
                            &#9733
                            &#9733
                            &#9733
                            &#9733 
                            &#9734
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="product-container" >
                <div class="container-heart">
                </div>
                <a href="" class="item">
                    <img id="proto-redondo-img" alt="proto-redondo-img" class="product-image" >
                    <div class="description">
                        <h4>Vestido Jamille</h4>
                        <p>Tecido crepe foil, botões funcionais e cordão de ajuste de cintura</p>
                        <p class="discount">R$196,00 </p>
                        <p><strong>186,00</strong></p>
                        <p>ou 6x de R$ 31,0</p>
                        <div class="star">
                            <p>
                                4,5
                            </p>
                            <p>
                            &#9733
                            &#9733
                            &#9733
                            &#9733 
                            &#9734
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="product-container" >
                <div class="container-heart">
                </div>
                <a href="" class="item">
                    <img id="proto-redondo-img" alt="proto-redondo-img" class="product-image" >
                    <div class="description">
                        <h4>Vestido Jamille</h4>
                        <p>Tecido crepe foil, botões funcionais e cordão de ajuste de cintura</p>
                        <p class="discount" >R$196,00 </p>
                        <p><strong>186,00</strong></p>
                        <p>ou 6x de R$ 31,0</p>
                        <div class="star">
                            <p>
                                4,5
                            </p>
                            <p>
                            &#9733
                            &#9733
                            &#9733
                            &#9733 
                            &#9734
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="product-container" >
                <div class="container-heart">
                </div>
                <a href="" class="item">
                    <img id="proto-redondo-img" alt="protoRedondo" class="product-image" >
                    <div class="description">
                        <h4>Vestido Jamille</h4>
                        <p>Tecido crepe foil, botões funcionais ecordão de ajuste de cintura</p>
                        <p class="discount" >R$196,00 </p>
                        <p><strong>186,00</strong></p>
                        <p>ou 6x de R$ 31,0</p>
                        <div class="star">
                            <p>
                                4,5
                            </p>
                            <p>
                            &#9733
                            &#9733
                            &#9733
                            &#9733 
                            &#9734
                            </p>;
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<%- include('includes/footer'); -%>

