<%- include('includes/head.ejs'); -%> 

<header>
    <div class="div-conteiner" name="">
        <aside class="aside">
        <div class="logo-div">
            <a href><img class="img-superior" src="" ></a>
        </div>

        <%- include('includes/buscador.ejs'); -%> 

        <div class="favorito-div">
            <a href="" class="style-nav" > <img class="coracao" id="style-img"   src="">FAVORITOS</a>
        </div>

        <div class="carrinho-div">
            <a href="" class="style-nav" ><img  class="carrinho" id="style-img" src="" >CARINHO</a>
        </div>

        <div class="entra-div">
            <a href="" class="style-nav"> <img class="perfil" id="style-img"   src="" >ENTRA</a>
        </div>
        </aside>

        <div id="rotbar">
            <div class="local-div">
                <a href="" class="local-a" > <img class="local-imagem" src="" >informe seu cep </a>
            </div>
            <div class="infantil">
                <a href=""  class="style-rotbar" >infantil</a>
            </div>
            <div class="plussize">
                <a href=""  class="style-rotbar ">plus size</a>
            </div>
            <div class="dresses">
                <a href=""  class="style-rotbar ">vestidos</a>
            </div>
            <div class="Skirts">
                <a href=""  class="style-rotbar ">saias</a>
            </div>
            <div class="blouses">
                <a href=""  class="style-rotbar ">blusas</a>
            </div>
            <div class="new">
                <a href=""  class="style-rotbar ">Novidas</a>
            </div>
            <div class="accessory">
                <a href="" class="style-rotbar" >Acessorios</a>
            </div>
        </div>
        </nav>
    </div> 
</header>
<main >
    <div class="container-baner">
        <div class="container-baner-slider  ">
            <div class="baner-slider js-baner-slider ">
                <div class="container-item-baner" >
                    <a href="" class="item-baner" >
                        <img class="Descontoprincipal"  alt="">
                    </a>
                </div>
                <div class="container-item-baner">
                    <a href="" class="item-baner">
                        <img class="baner" src="" alt="">
                    </a>
                </div>
                <div class="container-item-baner">
                    <a href="" class="item-baner">
                        <img class="Descontoprincipal"  alt="">
                    </a>
                </div>
                <div class="container-item-baner">
                    <a href="" class="item-baner">
                        <img class="baner" src="" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="container-slider-js">
        
    </div>
    
</main>
<script>
      // Passando produtos para o JavaScript
      window.produtosData =   JSON.stringify(Produtos)  ; 
</script>
<%- include('includes/footer.ejs'); -%> 
<%- include('includes/script.ejs'); -%> 

