/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/assets/css/header.css ***!
  \**********************************************************************************/
#html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

.body {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: fixed;
  flex-direction: column;
}
/* Minha tela  */
.div-conteiner {
  width: 100%;
}

.aside {
  height: 10vw;
}

.logo-div {
  background-color: #6e0023;
  height: 2vw;
}

.img-superior {
  width: 2.7vw;
}

.nav {
  background-color: #e10052;
  width: 100%;
  height: 6vw;
  position: relative;
  z-index: 2;
}

.style-nav {
  display: inline-block;
  text-decoration: none;
  position: relative;
  bottom: 10px;
  color: white;
  font-size: 12px;
}

.log-inferior {
  position: relative;
  bottom: 1.5vw;
  right: 2vw;
  width: 10%;
  padding: 0rem 0rem 0rem 5rem;
}

.buscador-div {
  position: relative;
  bottom: 9vw;
  left: 15%;
}

.log-div {
  height: 10vw;
}

.buscador-input {
  width: 40vw;
  height: 4vw;
  border: 1px solid #333;
  border-radius: 5px 0 0 5px;
  border-right: 0px solid;
}

.button {
  position: absolute;
  height: 4vw;
  width: 5vw;
  border: 1px solid #ffffff;
  border-left: 0px solid;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  align-items: center;
  background-color: white;
  color: #fff;
}

.lupa {
  position: relative;
  right: 0.5rem;
  bottom: 0.2rem;
  height: 5rem;
}

.button:hover {
  background-color: #dcdcdc;
}

.entra-div,
.carrinho-div,
.favorito-div {
  position: relative;
  display: inline;
  bottom: 12.2vw;
  left: 64%;
  margin: 0 10px 0 10px;
}

#style-img {
  width: 2vw;
  top: 0.5vw;
  display: inline-block;
  text-decoration: none;
  position: relative;
  bottom: 10vw;
  color: white;
  font-size: 12px;
}
.style-img {
  width: 2vw;
  top: 0.5vw;
  display: inline-block;
  text-decoration: none;
  position: relative;
  bottom: 10vw;
  color: white;
  font-size: 12px;
}

#rotbar {
  position: relative;
  width: 100%;
  height: 2vw;
  bottom: 1.5vw;
  background-color: white;
}

.local-div {
  border-right: 1px solid gray;
}
.local-a {
  margin: 0px 0px 0px 30px;
}

.local-imagem {
  width: 15px;
  position: relative;
  top: 5px;
}

.local-div,
.infantil,
.plussize,
.dresses,
.Skirts,
.blouses,
.new,
.accessory {
  position: relative;
  top: 0vw;
  padding: 0 5px 0px 30px;
  display: inline;
}

.style-rotbar,
.local-a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*  Estilos para telas de PCs, notebooks e tablets em modo paisagem */
@media screen and (max-width: 1024) {
  .body {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .div-conteiner {
    position: flex;
    width: 100%;
  }

  .aside {
    height: 15vw;
  }

  .logo-div {
    background-color: #6e0023;
    height: 20%;
  }

  .img-superior {
    width: 5vw;
  }

  .nav {
    background-color: #e10052;
    width: 100%;
    height: 55%;
  }

  .style-nav {
    display: inline-block;
    text-decoration: none;
    position: relative;
    bottom: 10px;
    color: white;
    font-size: 12px;
  }

  .log-inferior {
    width: 10%;
    padding: 0rem 0rem 0rem 5rem;
  }

  .buscador-div {
    position: relative;
    bottom: 8vw;
    left: 15%;
  }

  .buscador-form {
  }

  .buscador-input {
    width: 40vw;
    height: 4vw;
    border: 1px solid #333;
    border-radius: 5px 0 0 5px;
    border-right: 0px solid;
  }

  .button {
    position: absolute;
    height: 4.4vw;
    width: 5vw;
    border: 1px solid #333;
    border-left: 0px solid;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    align-items: center;
    background-color: white;
    color: #fff;
  }

  .lupa {
    position: relative;
    right: 2rem;
    bottom: 0.7rem;
    height: 6rem;
  }

  .button:hover {
    background-color: #dcdcdc;
  }

  .entra-div,
  .carrinho-div,
  .favorito-div {
    position: relative;
    display: inline;
    bottom: 12.5vw;
    left: 63%;
    margin: 0 10px 0 10px;
  }

  .style-img {
    width: 3vw;
    top: 1vw;
    display: inline-block;
    text-decoration: none;
    position: relative;
    bottom: 10vw;
    color: white;
    font-size: 12px;
  }

  #rotbar {
    position: relative;
    width: 100%;
    height: 5vw;
    bottom: 1.5vw;
    background-color: white;
  }

  .local-div {
    border-right: 1px solid gray;
  }
  .local-a {
    margin: 0px 0px 0px 30px;
  }

  .local-imagem {
    width: 15px;
    position: relative;
    top: 5px;
  }

  .local-div,
  .infantil,
  .plussize,
  .dresses,
  .Skirts,
  .blouses,
  .new,
  .accessory {
    position: relative;
    top: 0vw;
    padding: 0 5px 0px 30px;
    display: inline;
  }

  .style-rotbar,
  .local-a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
  .body {
    font-size: 18px;
  }

  .div-conteiner {
    position: fixed;
    width: 1000%;
  }

  .aside {
    height: 15vw;
  }

  .logo-div {
    background-color: #6e0023;
    height: 45%;
  }

  .img-superior {
    position: relative;
    bottom: 25%;
    width: 10vw;
  }

  .log-inferior {
    position: relative;
    bottom: 20px;
    right: 30px;
    width: 2%;
    padding: 0rem 0rem 0rem 5rem;
  }

  .nav {
    background-color: #e10052;
    width: 90%;
    height: 90%;
  }

  .style-nav {
    display: inline-block;
    text-decoration: none;
    position: relative;
    bottom: 10px;
    color: white;
    font-size: 12px;
  }

  .buscador-div {
    position: relative;
    bottom: 17vw;
    left: 10rem;
  }

  .buscador-form {
  }

  .buscador-input {
    width: 50vw;
    height: 6vw;
    border: 1px solid #333;
    border-radius: 5px 0 0 5px;
    border-right: 0px solid;
  }

  .button {
    position: absolute;
    height: 4.4vw;
    width: 5vw;
    border: 1px solid #333;
    border-left: 0px solid;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    align-items: center;
    background-color: white;
    color: #fff;
  }

  .lupa {
    position: relative;
    right: 2rem;
    bottom: 0.7rem;
    height: 6rem;
  }

  .button:hover {
    background-color: #dcdcdc;
  }

  .entra-div,
  .carrinho-div,
  .favorito-div {
    position: relative;
    display: inline;
    bottom: 12.5vw;
    left: 63%;
    margin: 0 10px 0 10px;
  }

  .style-img {
    width: 3vw;
    top: 1vw;
    display: inline-block;
    text-decoration: none;
    position: relative;
    bottom: 10vw;
    color: white;
    font-size: 12px;
  }

  #rotbar {
    position: relative;
    width: 100%;
    height: 5vw;
    top: 2vw;
    background-color: white;
  }

  .local-div {
    border-right: 1px solid gray;
  }
  .local-a {
    margin: 0px 0px 0px 30px;
  }

  .local-imagem {
    width: 15px;
    position: relative;
    top: 5px;
  }

  .local-div,
  .infantil,
  .plussize,
  .dresses,
  .Skirts,
  .blouses,
  .new,
  .accessory {
    position: relative;
    top: 0vw;
    padding: 0 5px 0px 30px;
    display: inline;
  }

  .style-rotbar,
  .local-a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

/* A barra de pesquisa fica fixed */

.navFixed {
  background-color: #e10052;
  width: 100%;
  position: fixed;
  bottom: 87.7%;
  height: 6vw;
}

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/assets/css/main.css ***!
  \********************************************************************************/
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* style do Banner */
.container-baner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100vw !important;
  height: 40vw !important;
  padding: 10px;
}

.container-baner-slider {
  display: flex;
  justify-content: center ;
  align-items: center;
  width: 100vw;
  height: 40vw;
}

.baner-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 40vw;
  position: static !important;
}

.container-item-baner {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 40vw;
}

.baner-slider {
  width: 100vw;
  height: 40vw;
  column-gap: 2rem;
}

.item-baner {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 38vw;
}

.baner {
  width: 100vw;
  height: 100%;
}

.baner-slider > .slick-next .slick-prev {
  display: block;
  width: 100vw;
  height: 100%;
}

.Descontoprincipal {
  width: 100vw;
  height: 100%;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* style dos produtos */

.Produtos {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.container-slider {
  width: 89vw;
  height: auto;
}

.slider {
  display: flex !important;
  background-color: ffff;
  border-radius: 2px;
  column-gap: 1rem;
}

.product-container {
  display: flex !important;
  max-width: 270px;
  border: 1px solid rgba(59, 59, 59, 0.384);
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 16px -4px rgba(0, 0, 0, 0.5);
  margin: 0px 20px 20px 0px;
  gap: 0.1rem;
}

.container-heart {
  background-image: url(https://raw.githubusercontent.com/Cassianosch/programador.cs-reels/master/slider-produtos-simples/assets/images/ic-heart.png);
  display: flex !important;
  position: relative !important;
  max-width: 30px;
  max-height: 30px;
  min-height: 30px;
  min-width: 30px;
  background-size: 30px;
  z-index: 1;
  transition: 0.3s all ease !important;
  cursor: pointer;
  left: 75%;
  top: 20px;
}

.container-heart:hover {
  background-image: url(https://raw.githubusercontent.com/Cassianosch/programador.cs-reels/master/slider-produtos-simples/assets/images/ic-heart-red.png) !important;
}

.item {
  position: relative !important;
  display: flex !important;
  align-items: center;
  text-decoration: none;
  max-width: 100%;
  max-height: 100%;
  color: rgb(0, 0, 0);
  flex-wrap: wrap;
  right: 30px;
}

.product-image {
  position: relative;
  display: center;
  justify-content: center;
  width: 220px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 15px 0 0 0;
  left: 23px;
}

.description {
  position: relative !important;
  left: 1%;
  padding: 5px 0 5px 5px;
}
.discount {
  text-decoration: line-through;
}

.star {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  color: rgb(255, 196, 0);
}

.slider > .slick-next:before {
  font-family: slick;
  font-size: 40px !important;
  line-height: 1;
  opacity: 0.75;
  color: rgba(131, 118, 118, 0.781) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider > .slick-prev:before {
  font-family: slick;
  font-size: 40px !important;
  line-height: 1;
  opacity: 0.75;
  color: rgba(131, 118, 118, 0.781) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider > .slick-next,
.slick-prev {
  width: 50px !important;
  height: 50px !important;
  z-index: 1 !important;
}

.slider > .slick-prev {
  left: -45px !important;
}

.slider > .slick-next {
  right: -45px !important;
}

/* Stilizaçao do banner*/


/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/assets/css/footer.css ***!
  \**********************************************************************************/
ul,
li {
  margin: 0;
  padding: 2px;
  list-style: none;
  text-decoration: none;
}

#Rootbar {
  display: flex;
  padding-top: 2vw;
  color: black;
  border-top: 2px solid #e10052;
}

.Lista1 {
  padding: 0 0 2vw 10vw;
}

.Lista2 {
  padding: 0 0 0vw 10vw;
}

.Lista3 {
  padding: 0 0 0vw 10vw;
}

.footer {
  text-decoration: none;
  color: black;
}

.LI {
  color: #e10052;
}


/*# sourceMappingURL=styles.css.map*/